{{#section 'ownTableStyle'}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/editor/css/editor.dataTables.css">
{{/section}}
<div class="panel panel-default" style="display:none;"  >
    <div class="panel-heading">
        <span class="panel-title"><i class="fa fa-user"></i>Owner Profile</span>
        <button name="ownereditbtn" id="ownereditbtn" class="btn btn-primary btn-sm pull-right" title "Edit" data-target="#editowner">
        <i class="fa fa-edit"></i>
        </button>
    </div>
    <div class="panel-body table-responsive">
        <table id="ownTable" class="table table-striped borderless" cellspacing="0" width="100%">
                <thead>
                        <tr>
                            <th>Selected</th>
                            <th>Owner Id</th>
                            <th>First Name</th> 
                            <th>Last Name</th> 
                            <th>Date of Birth</th> 
                            <th>Sex</th> 
                            <th>Address</th> 
                            <th>City</th> 
                            <th>State</th> 
                            <th>Zip Code</th> 
                            <th>Phone Number</th> 
                            <th>Fax Number</th>
                            <th>User Id</th>
                            <th>createdAt</th> 
                            <th>updatedAt</th>
                            <th>Edit / Delete</th>
                        </tr>
                </thead>
        </table>
    </div>
</div>
{{#section 'ownTableScript'}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="/assets/editor/js/dataTables.editor.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/api/fnReloadAjax.js"></script>
<script>
   

$(document).ready(function() {
    

    var ownTable = new $.fn.dataTable.Editor( {} );

    ownTable = new $.fn.dataTable.Editor( {
         ajax: {
                create: {
                    type: 'POST',
                    url: '/api/owner',
                    "complete": function(response) {
                        // Update the draw element in the DOM
                        oTable.ajax.reload();
                    }
                },
                edit: {
                    type: 'PUT',
                    url: '/api/owner',
                    "success": function(response) {
                        // Update the draw element in the DOM
                        location.reload();
                    }
                },
                remove:{
                    type:'DELETE',
                    url:'/api/owner',
                    contentType: 'application/json',
                    data: function ( data ) {
                        /*return {"id": JSON.stringify(data.data[Object.keys(data.data)].id)};*/
                        return {"ids": Object.keys(data.data)};
                    },
                    "success": function(response) {
                        // Update the draw element in the DOM
                        oTable.ajax.reload();
                    }
                },
            },
            idSrc:'id',
        table: '#ownTable',
        fields: [
            {label: 'Owner Id', name: 'id'},
            {label: "First Name", name: "owner_fname"},
            {label: "Last Name", name: "owner_lname"},
            {label: "Date of Birth", name: "owner_dob"},
            {label: "Sex", name: "owner_sex"},
            {label: "Address", name: "address"},
            {label: "City", name: "city"},
            {label: "State", name:"state"},
            {label: "Zip Code", name:"zip"},
            {label: "Phone Number", name:"phone"},
            {label: "Fax Number", name:"fax"},
            {label: "User Id", name:"UserId"},
            {label: "createdAt", name:"createdAt", type:"hidden"},
            {label: "updatedAt", name:"updatedAt", type:"hidden"}
        ]
    } );

    //Bubble Edit
    /*$('#ownTable').on( 'click', 'tbody td:not(:first-child)', function (e) {
        ownTable.bubble( this );
    });*/

    //Inline Edit
   /* $('#ownTable').on( 'click', 'tbody td:not(:first-child)', function (e) {
        ownTable.inline( this );
    } );*/

    var oTable = $('#ownTable').DataTable( {
        ajax: {
            url:'/api/owner',
            dataSrc:''
        },
        "fnInitComplete": function(oSettings, json) {
         var info = json[0];
         $('#firstname').text(info.owner_fname);
         $('#lastname').text(info.owner_lname);
         $('#dateofbirth').text(info.owner_dob);
         $('#ownSex').text(info.owner_sex);
         $('#ownAddress').text(info.address);
         $('#ownCity').text(info.city);
         $('#ownState').text(info.state);
         $('#ownZip').text(info.zip);
         $('#ownPhone').text(info.phone);
         $('#ownFax').text(info.fax);
        },
        dom: 'Bfrtip',
        columns: [
            {
                data: null,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false,
                "width": "5%"
            },
            { 
                data: 'id',
                "visible": true,
                "searchable": true 
                },
            {
                data: "owner_fname",
                "visible": true,
                "searchable": true
                },
            {
                data: "owner_lname",
                "visible": true,
                "searchable": true
                },
            {
                data: "owner_dob",
                "visible": true,
                "searchable": true
                },
            {
                data: "owner_sex",
                "visible": true,
                "searchable": true
                },
            {
                data: "address",
                "visible": true,
                "searchable": true
                },
            {
                data: "city",
                "visible": true,
                "searchable": true
                },
            {
                data: "state",
                "visible": true,
                "searchable": true
                },
            {
                data: "zip",
                "visible": true,
                "searchable": true
                },
            {
                data: "phone",
                "visible": true,
                "searchable": true
                },
            {
                data: "fax",
                "visible": true,
                "searchable": true
                },
            {
                data: "UserId",
                "visible": true,
                "searchable": true
                },
            {
                data: "createdAt",
                "visible": true,
                "searchable": true
                },
            {
                data: "updatedAt",
                "visible": true,
                "searchable": true
                },
            {
                data: null,
                className: "center",
                defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>  / <a href="" class="pet_profile">View</a>'
            }
            // etc
        ],
        select: true,
        /*select: {
            style:    'multi',
            selector: 'td:first-child'
        },*/
        "scrollX": true,
        buttons: [
            { extend: 'create', editor: ownTable},
            { extend: 'edit',   editor: ownTable },
            { extend: 'remove', editor: ownTable },
            {
                text: 'Select All',
                action: function () {
                /* selects all rows*/
                oTable.rows( {search:'applied'} ).select();
                }
            },
            'selectNone'
        ]
    } );
    //Table Header
     /*$("div.toolbar").html('<b>Pet Medical History</b>');*/ 

    // Edit record
    $('#ownTable').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();
 
        ownTable.edit( $(this).closest('tr'), {
            title: 'Edit record',
            buttons: 'Update'
        } );
    } );
 
    $('#ownereditbtn').on('click', () =>{
        oTable.row(':eq(0)').select();
        oTable.row().edit();

    });

    // Delete a record
     $('#ownTable').on('click', 'a.editor_remove', function (e) {
        e.preventDefault();
 
        ownTable.remove( $(this).closest('tr'), {
            title: 'Delete record',
            message: 'Are you sure you wish to remove this record?',
            buttons: 'remove'
        } );
    } );
     
    //disable field on edit
    ownTable.on( 'onInitEdit', function () {
           ownTable
          .disable('id')
          .disable('UserId')
    } );
    //disable field on edit
    ownTable.on( 'onInitCreate', function () {
          ownTable
          .disable('id')
    } );
    
} );

</script>
{{/section}}