{{#section 'petsTableStyle'}}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="/assets/editor/css/editor.dataTables.css">
{{/section}}
<div class="panel panel-default">
    <div class="panel-heading">
        <span class="panel-title"><img src="assets/img/pets.png" alt="pets">Pets</span>
        <button name="addpetbtn" id="petsbtn" class=" addPet btn btn-primary btn-sm pull-right" title "Add Pet" data-target="#addpet">
        <i class="fa fa-plus"></i>
        </button>
    </div>
    <div class="panel-body table-responsive">
        <table id="petsTable" class="render table table-striped table-hover responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Selected</th>
                    <th>Pet Id</th>
                    <th>ownerId</th> 
                    <th>Pet Name</th> 
                    <th>Pet Type</th> 
                    <th>Pet Breed</th> 
                    <th>pet_color</th> 
                    <th>license_no</th> 
                    <th>microchip_no</th> 
                    <th>insur_name</th> 
                    <th>insur_id</th> 
                    <th>insur_phone</th> 
                    <th>Pet DOB</th> 
                    <th>pet_dod</th> 
                    <th>pet_age</th> 
                    <th>Pet Sex</th> 
                    <th>spayed_neutered_ind</th> 
                    <th>pet_image_url</th> 
                    <th>Condition 1</th> 
                    <th>cond2</th> 
                    <th>cond3</th> 
                    <th>med1</th> 
                    <th>med2</th> 
                    <th>med3</th> 
                    <th>Vet Name</th> 
                    <th>vet1_specialty</th> 
                    <th>vet1_address</th> 
                    <th>vet1_city</th> 
                    <th>vet1_state</th> 
                    <th>vet1_zip</th> 
                    <th>vet1_phone</th> 
                    <th>vet1_email</th> 
                    <th>vet1_fax</th> 
                    <th>vet2_name</th> 
                    <th>vet2_specialty</th> 
                    <th>vet2_address</th> 
                    <th>vet2_city</th> 
                    <th>vet2_state</th> 
                    <th>vet2_zip</th> 
                    <th>vet2_phone</th> 
                    <th>vet2_email</th> 
                    <th>vet2_fax</th> 
                    <th>createdAt</th> 
                    <th>updatedAt</th>
                    <th>Edit / Delete</th>
                    <th>Pet Profile</th>
                    <th>Pet Image</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
{{#section 'petsTableScript'}}
<script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/jq-2.2.4/jszip-3.1.3/pdfmake-0.1.27/dt-1.10.15/af-2.2.0/b-1.3.1/b-colvis-1.3.1/b-flash-1.3.1/b-html5-1.3.1/b-print-1.3.1/cr-1.3.3/fc-3.2.2/fh-3.1.2/kt-2.2.1/r-2.1.1/rg-1.0.0/rr-1.2.0/sc-1.4.2/se-1.2.2/datatables.min.js"></script>
<script type="text/javascript" src="/assets/editor/js/dataTables.editor.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.15/api/fnReloadAjax.js"></script>
<script>



$(document).ready(function() {

    var petsTable = new $.fn.dataTable.Editor( {} );

    petsTable = new $.fn.dataTable.Editor( {
         ajax: {
                create: {
                    type: 'POST',
                    url: '/api/pet',
                    "complete": function(response) {
                        // Update the draw element in the DOM
                        pTable.ajax.reload();
                    }
                },
                edit: {
                    type: 'PUT',
                    url: '/api/pet',
                    "success": function(response) {
                        // Update the draw element in the DOM
                        pTable.ajax.reload();
                    }
                },
                remove:{
                    type:'DELETE',
                    url:'/api/pet',
                    contentType: 'application/json',
                    data: function ( data ) {
                        /*return {"id": JSON.stringify(data.data[Object.keys(data.data)].id)};*/
                        return {"ids": Object.keys(data.data)};
                    },
                    "success": function(response) {
                        // Update the draw element in the DOM
                        pTable.ajax.reload();
                    }
                },
            },
            idSrc:'id',
        table: '#petsTable',
        
        fields: [
            {label: 'Id', name: 'id'},
            {label: "Owner Id", name: "ownerId", type:"hidden"},
            {label: "Pet Name", name: "pet_name"},
            {label: "Pet Type", name: "pet_type"},
            {label: "Pet Breed", name: "pet_breed"},
            {label: "Pet Color", name: "pet_color"},
            {label: "Pet License", name: "license_no"},
            {label: "Microchip #", name:"microchip_no"},
            {label: "Insurance Name", name:"insur_name"},
            {label: "Insurance Id", name:"insur_id"},
            {label: "Insurance Phone #", name:"insur_phone"},
            {label: "Pet DOB", name:"pet_dob"},
            {label: "Pet DOD", name:"pet_dod", type:"hidden"},
            {label: "Pet Age", name:"pet_age"},
            {label: "Pet Sex", name:"pet_sex"},
            {label: "Spayed/Neutered", name:"spayed_neutered_ind"},
            {label: "Pet Image", name:"pet_image_url"},
            {label: "Condition 1", name:"cond1"},
            {label: "Condition 2", name:"cond2"},
            {label: "Condition 3", name:"cond3"},
            {label: "Medication 1", name:"med1"},
            {label: "Medication 2", name:"med2"},
            {label: "Medication 3", name:"med3"},
            {label: "Vet1 Name", name:"vet1_name"},
            {label: "Vet1 Specialty", name:"vet1_specialty"},
            {label: "Vet1 Address", name:"vet1_address"},
            {label: "Vet1 City", name:"vet1_city"},
            {label: "Vet1 State", name:"vet1_state"},
            {label: "Vet1 Zip", name:"vet1_zip"},
            {label: "Vet1 Phone", name:"vet1_phone"},
            {label: "Vet1 Email", name:"vet1_email"},
            {label: "Vet1 Fax", name:"vet1_fax"},
            {label: "Vet2 Name", name:"vet2_name"},
            {label: "Vet2 Specialty", name:"vet2_specialty"},
            {label: "Vet2 Address", name: "vet2_address"} ,
            {label: "Vet2 City", name:"vet2_city"},
            {label: "Vet2 State", name:"vet2_state"},
            {label: "Vet2 Zip", name:"vet2_zip"},
            {label: "Vet2 Phone", name:"vet2_phone"},
            {label: "Vet2 Email", name:"vet2_email"},
            {label: "Vet2 Fax", name:"vet2_fax"},
            {label: "createdAt", name:"createdAt", type:"hidden"},
            {label: "updatedAt", name:"updatedAt", type:"hidden"}
        ]
    } );


/*$('#petsTable').on( 'click', 'tbody td:not(:first-child)', function (e) {
        petsTable.bubble( this );
    } );*/

    var pTable = $('#petsTable').DataTable( {
        ajax: {
            url:'/api/pet',
            dataSrc:''
        },
        dom: 'Bfrltip',
        stateSave: true,
        "paging":   true,
        "ordering": true,
        "info":     true,
        "lengthMenu": [5, 10, 25],
        "createdRow": function ( row, data, index ) {
                $('td', row).eq(6).children().attr("pet-data",String(data.id));
        },
        columns: [
            {
                data: null,
                "visible": false,
                "searchable": false,
                defaultContent: '',
                className: 'select-checkbox',
                orderable: false,
                "width": "5%"
            },
            { 
                data: 'id',
                "visible": false,
                "searchable": false 
                },
            {
                data: "ownerId",
                "visible": false,
                "searchable": false
                },
            {
                data: "pet_name",
                "visible": true,
                "searchable": true
                },
            {
                data: "pet_type",
                "visible": true,
                "searchable": true
                },
            {
                data: "pet_breed",
                "visible": true,
                "searchable": true
                },
            {
                data: "pet_color",
                "visible": false,
                "searchable": false
                },
            {
                data: "license_no",
                "visible": false,
                "searchable": false
                },
            {
                data: "microchip_no",
                "visible": false,
                "searchable": false
                },
            {
                data: "insur_name",
                "visible": false,
                "searchable": false
                },
            {
                data: "insur_id",
                "visible": false,
                "searchable": false
                },
            {
                data: "insur_phone",
                "visible": false,
                "searchable": false
                },
            {
                data: "pet_dob",
                "visible": true,
                "searchable": true,
                "width":"20%"
                },
            {
                data: "pet_dod",
                "visible": false,
                "searchable": false
                },
            {
                data: "pet_age",
                "visible": false,
                "searchable": false
                },
            {
                data: "pet_sex",
                "visible": false,
                "searchable": false
                },
            {
                data: "spayed_neutered_ind",
                "visible": false,
                "searchable": false
                },
            {
                data: "pet_image_url",
                "visible": false,
                "searchable": false
                },
            {
                data: "cond1",
                "visible": false,
                "searchable": false
                },
            {
                data: "cond2",
                "visible": false,
                "searchable": false
                },
            {
                data: "cond3",
                "visible": false,
                "searchable": false
                },
            {
                data: "med1",
                "visible": false,
                "searchable": false
                },
            {
                data: "med2",
                "visible": false,
                "searchable": false
                },
            {
                data: "med3",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_name",
                "visible": true,
                "searchable": true
                },
            {
                data: "vet1_specialty",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_address",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_city",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_state",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_zip",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_phone",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_email",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet1_fax",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_name",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_specialty",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_address",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_city",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_state",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_zip",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_phone",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_email",
                "visible": false,
                "searchable": false
                },
            {
                data: "vet2_fax",
                "visible": false,
                "searchable": false
                },
            {
                data: "createdAt",
                "visible": false,
                "searchable": false
                },
            {
                data: "updatedAt",
                "visible": false,
                "searchable": false
                },
            {
                data: null,
                "width":"18%",
                className: "center",
                defaultContent: '<a href="" class="editor_edit">Edit</a> / <a href="" class="editor_remove">Delete</a>'
            },
            {
                data: null,
                className: "center",
                defaultContent: '<a class="viewPet">View</a>'
            },{
                data: null,
                className: "center",
                defaultContent: '<a class="uploadPet">Upload</a>'
            }
            // etc
        ],
        select: false,
        select: {
            style:    'multi',
            selector: 'td:first-child'
        },
        "scrollX": true,
        buttons: [
            { extend: 'create', editor: petsTable },
            { extend: 'edit',   editor: petsTable, className:"hide"},
             { extend: 'remove', editor: petsTable, className:"hide" }, 
            /*{
                text: 'Select All',
                action: function () {
                    pTable.rows( {search:'applied'} ).select();
                }
            },
             'selectNone'*/
        ]
    } );

    $('#petsTable').on('click', 'a.uploadPet', function(e) {
        console.log('wokring');
        var client = filestack.init('ARHtTfIMcQkFEss5ka9CAz');
        
        client.pick({
            accept: 'image/*',
            maxFiles: 5
        }).then(function(result) {
            console.log(JSON.stringify(result.filesUploaded));
        });
    });
    
    $('#petsbtn').on('click', () =>{
        petsTable.create();

    });

    $('#petsEdit').on('click', () =>{
        petsTable.edit(rowPetId -1);
    });

    // Edit record
    $('#petsTable').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();
 
        petsTable.edit( $(this).closest('tr'), {
            title: 'Edit record',
            buttons: 'Update'
        } );
    } );
 
    // Delete a record
     $('#petsTable').on('click', 'a.editor_remove', function (e) {
        e.preventDefault();
 
        petsTable.remove( $(this).closest('tr'), {
            title: 'Delete record',
            message: 'Are you sure you wish to remove this record?',
            buttons: 'remove'
        } );
    } );
     
    //disable field on edit
    petsTable.on( 'onInitEdit', function () {
          petsTable
          .disable('id');
    } );
    //disable field on edit
    petsTable.on( 'onInitCreate', function () {
          petsTable.disable('id');
    } );

	//Populate pet profile info on pet dash
      $('#petsTable').on('click', 'a.viewPet', function(e) {
             e.preventDefault();
            rowPetId=$(this).attr("pet-data");
             //console.log(rowPetId);
          
            var queryURL="/api/pet/" + rowPetId;
                        //+ this.closest('tr').children('td-petId').text();
            //console.log(queryURL);
                        //  $.getJSON(apiURL, function() {
                        // 	console.log('success');
                        // })
             $.ajax({
             url: queryURL,
            type: "GET",
            //dataType:"json"
            })
            .done(function(response) {
							var results = response[0];
							//console.log(results.pet_name);
							if (results===[]) {
											alert("Pet could not be found! Please refresh your browser.");
							}
							else {
									//console.log(results.pet_type);
								$('#ownerdash').addClass('hide');
								$('#petdash').removeClass('hide');
								$("#pettable-td-id").text(results.id);
								$("#pettable-td-name").text(results.pet_name);
								$("#pettable-td-type").text(results.pet_type);
								$("#pettable-td-breed").text(results.pet_breed);
								$("#pettable-td-color").text(results.pet_color);
								$("#pettable-td-dob").text(results.pet_dob);
								$("#pettable-td-sex").text(results.pet_sex);
								$("#pettable-td-microchip").text(results.microchip_no);
								$("#pettable-td-spayedneutered").text(results.spayed_neutered_ind);
								$("#pettable-td-cond1").text(results.cond1);
								$("#pettable-td-cond2").text(results.cond2);
								$("#pettable-td-cond3").text(results.cond3);
								$("#pettable-td-med1").text(results.med1);
								$("#pettable-td-med2").text(results.med2);
								$("#pettable-td-med3").text(results.med3);
								$("#pettable-td-v1name").text(results.vet1_name);
								$("#pettable-td-v1spec").text(results.vet1_spec);
								$("#pettable-td-v1addr").text(results.vet1_addr);
								$("#pettable-td-v1city").text(results.vet1_city);
								$("#pettable-td-v1state").text(results.vet1_state);
								$("#pettable-td-v1zip").text(results.vet1_zip);
								$("#pettable-td-v1phone").text(results.vet1_phone);
								$("#pettable-td-v1email").text(results.vet1_email);
								$("#pettable-td-v1fax").text(results.vet1_fax);
								$("#pettable-td-v2name").text(results.vet2_name);
								$("#pettable-td-v2spec").text(results.vet2_spec);
								$("#pettable-td-v2addr").text(results.vet2_addr);
								$("#pettable-td-v2city").text(results.vet2_city);
								$("#pettable-td-v2state").text(results.vet2_state);
								$("#pettable-td-v2zip").text(results.vet_zip);
								$("#pettable-td-v2phone").text(results.vet2_phone);
								$("#pettable-td-v2email").text(results.vet2_email);
								$("#pettable-td-v2fax").text(results.vet2_fax);
							}
            });
        });
    //
} );

</script>
{{/section}}